*{
    padding:0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    height: 100%;
}
header{
    position: sticky;
    top: 0;
    grid-area: header;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 2%;
}

#banner{
    grid-area: banner;
    width: 100%;
    height: 500px;
    background: url('https://images7.alphacoders.com/374/thumb-1920-374404.jpg') no-repeat center;
}
table, th, td{
    border: 1px solid black;
    padding: 1%;
    margin: auto;
    margin-bottom: 2%;
    width: 70%;
}
a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    margin: auto;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding-left: 1%;
    /* padding: 40px;
    clear: both; */
}
#main{
    grid-area: main;
    /* float: left;
    width: 430px;
    height: 100%; */
}

#aside{

    grid-area: aside;
    margin-left: 5%;
    /* float: right;
    width: 430px;
    height: 1290px; */
}

#nav{
    grid-area: nav;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-bottom: 3%;
}

#escribenos{
    grid-area: escribenos;
    /* float: right; */
    /* margin: auto; */
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.h1{
    text-align: center;
    margin: 1%;
    font-size: 30px;
} 
.p{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin: 3%; 
}


table{
    margin-top: 3%;
}
img{
    width: 100%;
    margin: 1%;
    justify-content: center;
    text-align: center;
}

body{
    min-height: 100%;
}


/* responsive css grid  ==============================*/

.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 60px
    "banner" auto
    "nav" auto
    "main" auto
    "aside" auto
    "escribenos" auto
    "footer" 60px; 
}

/* pc ============================= */
@media (min-width: 900px){
    img{
    display: block;
    width: 95%;
    margin: auto;
    }

    form{
        width: 40%;
        margin-top: 5%;

    }
    .grid-container{
        justify-content: center;
        grid-template: 
        "header header header header" 60px
        "banner banner banner banner" auto
        "nav nav  nav nav" auto
        ". main aside ." auto
        "escribenos escribenos escribenos escribenos" auto
        "footer footer footer footer" 60px /
        10% 50%  30% 10%; 
    }
}



/* menus, submenus ===========================*/
ul{
    list-style: none;
}


.nav > li{
    float: left;
    display: grid;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 31.6249px;
    display: block;
}

.nav li a:hover{
    background-color: #434343;
}

.nav li ul{
    display:none;
    position: center;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

/* Formulario ======================================*/
*{box-sizing:border-box;}

form{
    margin-top: 5%;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:#cacaca;
    /* border: solid #466060; */
}

form label{
    width:72px;
    margin-right: 50px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
	width:200px;
	padding:3px 5px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
